

<html>
    <head>
        <meta charset="UTF-8">
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>ELLO</h1>
        <!-- <canvas width="800" height="600" id="canvas"></canvas> -->
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/pixi.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/traviso.dev.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
        <!-- <script type="text/javascript">
            ////// Here, we initialize the pixi application
            var pixiRoot = new PIXI.Application(800, 600, { backgroundColor : 0x6BACDE });

            // add the renderer view element to the DOM
            document.body.appendChild(pixiRoot.view);

            ////// Here, we create our traviso instance and add on top of pixi

            // engine-instance configuration object
            var instanceConfig = {
                mapDataPath: "{{ url_for('static', filename='map/mapData.json') }}", // the path to the json file that defines map data, required
                assetsToLoad: ["{{ url_for('static', filename='assets/t1.png') }}", "{{ url_for('static', filename='assets/box.png') }}"] // array of paths to the assets that are desired to be loaded by traviso, no need to use if assets are already loaded to PIXI cache, default null
            };

            var engine = TRAVISO.getEngineInstance(instanceConfig);
            pixiRoot.stage.addChild(engine);
        </script> -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/debug_table.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',
            filename='js/socket.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/socket.js') }}"></script>
        <p id="tempMap"></p>
        <input id="inputAction" />
        <button onclick="sendAction()" > Execute </button>

        <!-- Audio for Happy and Sad Music -->
        <audio controls id="happy_music">
            <source src="{{ url_for('static', filename='music/happy_song.mp3') }}" type="audio/mpeg">
        </audio>

        <audio controls id="sad_music">
            <source src="{{ url_for('static', filename='music/sad_song.mp3') }}" type="audio/mpeg">
        </audio>

        <button onclick="playHappy()" type="button">Happy</button>
        <button onclick="playSad()" type="button">Sad</button>

        <script>
        var happy= document.getElementById("happy_music");
        function playHappy() {
            if(isPlaying(sad)){
                sad.pause();
            }
            happy.play();
        }

        var sad = document.getElementById("sad_music");
        function playSad() {
            if(isPlaying(happy)){
                happy.pause();
            }
            sad.play();
        }

        function isPlaying(audelem) {
            return !audelem.paused;
        }
        </script>
    </body>

</html>
